h1,h2,h3,h4 {
  text-align: center;
  position: relative;
  color: red;
  font-size: 160%;
  color:purple;
  margin-left:42%;
  margin-right:42%;
  padding: 40px;
  background-color: rgba(000, 000, 000, 0.8);
}

p {
  color:purple;
  margin-left:10%;
  margin-right:10%;
  padding: 40px;
  font-size: 140%;
  background-color: rgba(000, 000, 000, 0.8);
}

html,
body {
  text-align:justify;
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat ;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(153, 0, 255);
  font-family:'Public Sans', sans-serif;
}

.title {
  margin: 0 auto;
  color: white; 
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.container {
  width: 100%;
  height: 100%;
  animation: changeBackgroundImage 25s infinite;
  display: flex;
  align-items: center;
  text-align: justify;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@keyframes changeBackgroundImage {
  0% {
    background-image: url('https://j.gifs.com/y0PeQ5.gif');
  }
  25% {
    background-image: url('https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/30/1469624095-nintendo-mario.gif?resize=980:*');
  }
  50% {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd94ad62307169.5a8c3bfb3c6aa.gif');
  }
  75% {
    background-image: url('https://i.pinimg.com/originals/51/41/b8/5141b83a8f9fe66e0cb8ad88ee1d18b5.gif');
  }
  100% {
    background-image: url('https://picsum.photos/id/1015/1500/1000');
  }
}

a{
    color: rgb(153, 0, 255);
    text-decoration: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.Windows {
  width: 650;
  height: 400;
  justify-content: center;
  align-items: center;
}

.Mac {
  width: 400;
  height: 350;
  justify-content: center;
  align-items: center;
}

.Linux{
  width: 500;
  height: 350;
  justify-content: center;
  align-items: center; 
}

.Android{
  width: 400;
  height: 400;
  justify-content: center;
  align-items: center;
}